{% extends "base.twig" %}

{% block content %}
  <main>
    <div class="container">
        <h1>404</h1>
        <p>Page not found</p>
        <a href="/">Go home &rarr;</a>
    </div>
  </main>
{% endblock %}