<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Ctext y='.9em' font-size='90'%3E🦔%3C/text%3E%3C/svg%3E">
    <title>{% block title %}Izhachok Guild Tool{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% set version = "now"|date("U") %}
    {% block styles %}
        <link rel="stylesheet" href="/main.css?v={{ version }}">
    {% endblock %}
</head>
<body class="page-{{ page }} layout">
    {% if page not in ['login', '404'] %}
        {% block header %}
            <aside class="sidebar">
                <div class="bottom-list list">
                    <div class="bottom-item list-item">
                        <form class="form-logout" method="POST" action="/logout">
                            <button type="submit" class="button logout__btn">Logout</button>
                        </form>
                    </div>
                    {% if is_admin %}
                        <a href="/admin" class="bottom-item list-item admin">
                            <img src="/img/illidan.webp?v=1.01" alt="">
                            Admin
                        </a>
                    {% endif %}
                    {% if is_approved %}
                        <a href="/profile" class="bottom-item list-item profile">
                            <img src="/img/akama.webp?v=1.01" alt="">
                            Profile
                        </a>
                    {% endif %}
                </div>
                <div class="top-list list">
                    <a href="/" class="header-item list-item">
                        <img src="/img/lfg-icon.jpg" alt="">
                        LFG
                    </a>
                </div>
            </aside>
        {% endblock %}
    {% endif %}
    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/scripts.js?v={{ version }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
